body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.picture{
  display: flex;
}
.labels{
  display: flex;
}
#progress progress{
  display: block;
  margin-left: 10px;
  padding-top: 20px;
}
#pose{
  position:relative;
}
#posetime{
  position: absolute;
  padding-left: 20px;
  font-size: 40px;
}
#message{
  position: absolute;
  padding-left: 441px;
  font-size: 20px;
}